name: Deploy new release

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Run install
        uses: pnpm/action-setup@v2
        with:
          version: 10
          run_install: true

      - name: Deploy
        run: |
          pnpm sst deploy --stage prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          NODE_ENV: production
